<section>
	<div class="container">
		<div class="row">

			<div class="col col-md-4">
				<h4> Lorem Ipsum</h4>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit lectus nec nulla eleifend, placerat cursus neque ornare. Pellentesque id orci interdum, laoreet risus ac, convallis risus. Nullam at suscipit massa. Maecenas vulputate in sapien id pulvinar. Donec mi lacus, cursus eu dolor sed, interdum accumsan mauris. Proin vel tortor tortor. Mauris libero leo, ullamcorper ac lectus ac, tincidunt fermentum lorem. Integer id hendrerit nibh, tempus congue erat.
				</p>


			</div>

			<div class="col">
				<h4> Citations </h4>
				<p>
				<a target="_blank" href="https://www.pxwall.com/wallpaper-forest-mountains-violet-birds-art-hd-art/"> Mountain wallpaper from Pxwall </a>
				<a target="_blank" href="https://dribbble.com/shots/3122640-Mountain-gif"> Animation 1 by Mathew Lucas </a>
				<a target="_blank" href="https://dribbble.com/shots/3106983-Bridge-gif"> Animation 2 by Mathew Lucas </a>
				<a target="_blank" href="https://dribbble.com/shots/3090031-Chalet-gif"> Animation 3 by Mathew Lucas </a>
				<a target="_blank" href="https://dribbble.com/shots/3738644-Spill-gif"> Animation 4 by Mathew Lucas </a>
				<a target="_blank" href="https://dribbble.com/shots/3016518-Pinwheel-gif"> Animation 5 by Mathew Lucas </a>
				<a target="_blank" href="https://dribbble.com/shots/2339208-Birch-gif"> Animation 6 by Mathew Lucas </a>
				</p>
			</div>

			<div class="col">
				<h4> Frameworks </h4>
				<p>
				<a target="_blank" href="https://getbootstrap.com/"> Boostrap </a>
				<a target="_blank" href="http://angular.io"> Angular </a>
				<a target="_blank" href="http://fontawesome.com"> Font Awesome </a>
				</p>
				
			</div>
			
			<div class="col">
				<h4> Links </h4>
				<p>
				<a target="_blank" href="https://bacon-waffle-elephant.netlify.com"> Cover Letter </a>
				<a target="_blank" href="https://drive.google.com/file/d/1ciY2GODNwkbKe_XXoen7dbZre9v8c187/view?usp=sharing"> Curriculum Vitae </a>
				<a target="_blank" href="https://drive.google.com/file/d/1B2upeHcXYMQ1HVTMuvlsxTi8V5th1jgd/view?usp=sharing"> Academic Statement </a>
				<a target="_blank" href="https://github.com/NessieNono"> Github Account </a>
				<a target="_blank" href="mailto:rubyzhouyuebie@gmail.com?Subject=Hello!"> Contact Me </a>
				</p>
			</div>

		</div>
	</div>
</section>