<nav class="navbar sticky-top" id="navbar">
	<div class="container">
	  	<div class="emphasis">DigitalHut </div>

	  	<div class="buttons">
			<button class="top-button"> 
				About Us
			</button>
			<button class="top-button"> 
				Features
			</button>
			<button class="top-button"> 
				FAQs
			</button>
			<button class="top-button"> 
				Contact
			</button>
			<button class="top-button"> 
				Sign Up
			</button>
		</div>


		<div class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">About us</a>
	          <a class="dropdown-item" href="#">Features</a>
	          <a class="dropdown-item" href="#">FAQs</a>
	          <a class="dropdown-item" href="#">Contact</a>
	          <a class="dropdown-item" href="#">Sign Up</a>
	        </div>
      	</div>

		
	</div>

</nav>