<section>
	<div class="container">
		<h2> From our blog </h2>
		<div class="row">

			<div class="col-md-4">
				<div class="card">
				  <img src="https://cdn.dribbble.com/users/41854/screenshots/3738644/bubble2.gif" class="card-img-top" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Words to Live By</h5>
				    <p class="card-text">The preservation of human life is the ultimate value, a pillar of ethics, and the foundation of all morality. This held true in most cultures and societies throughout history.</p>

				    <div class="bottom">
				    	<p>30 MIN AGO </p>
				    	<p> <i class="fas fa-comment-alt"></i> 3 COMMENTS</p>
					</div>


				  </div>
				</div>
			</div>


			<div class="col-md-4">
				<div class="card">
				  <img src="https://cdn.dribbble.com/users/41854/screenshots/3016518/torus_d.gif" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Words to Live By</h5>
				    <p class="card-text">The preservation of human life is the ultimate value, a pillar of ethics, and the foundation of all morality. This held true in most cultures and societies throughout history.</p>
				    <div class="bottom">
				    	<p>30 MIN AGO </p>
				    	<p> <i class="fas fa-comment-alt"></i> 3 COMMENTS</p>
					</div>


				  </div>
				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
				  <img src="https://cdn.dribbble.com/users/41854/screenshots/2339208/birch-living-dribble.gif" class="card-img-top" alt="...">
				  <div class="card-body">
				    <h5 class="card-title">Words to Live By</h5>
				    <p class="card-text">The preservation of human life is the ultimate value, a pillar of ethics, and the foundation of all morality. This held true in most cultures and societies throughout history.</p>
				    <div class="bottom">
				    	<p>30 MIN AGO </p>
				    	<p> <i class="fas fa-comment-alt"></i> 3 COMMENTS</p>
					</div>
				  </div>
				</div>
			</div>



		</div>
	</div>
</section>