/* You can add global styles to this file, and also import other style files */
.container {
	padding-top: 4rem; padding-bottom: 4rem;
}

.emphasis {
	color: #2F4858;
	font-family: 'Staatliches', sans-serif;
	font-size: 1.4rem;
}


p { 
	text-align: justify;
	font-size: 0.9em;
}


h2 {
	margin-bottom: 1em;
}


button { 
	padding-right: 2rem!important; padding-left: 2rem!important;
}